@{
    ViewData["Title"] = "About";
}

    <div class="text-center">
        <h1>@ViewData["Title"] Unicorns Can Code</h1>

        <br />

        <p>
            For developers, the word “unicorn” refers to someone with such a diverse range of skills that they’re incredibly rare. For example, an expert programmer who is also an ace visual designer. While such a person may be out there somewhere, they will be so hard to hire that they might as well be imaginary.
    </div></p>
