@model List<MVCWebApp.Models.ProductModel>

@{
    ViewData["Title"] = "Home Page";
}



<div class="container-fluid p-5">
    <div class="row d-flex justify-content-center">
        @foreach (var product in Model)
        {
            <div class="col-md-3">
                <div class="border bg-light rounded p-1">
                    <img src="~/Img/@(product.ImgId).png" class="img-fluid" alt="@product.Title" />
                    <div class="card-body">
                        <h5 class="text-center font-weight-normal">@product.Title</h5>
                        <ul class="list-group text-center" style="list-style-type: none;">
                            <li>Price: @product.Price</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <button  onclick="location.href ='@Url.Action("AddProductToCart","Cart", product)'" id="buyButtom" class="btn btn-success btn-block"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>