@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid p-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-3">
            <div class="border bg-light rounded p-1">
                <img src="~/Img/Change_The_World.png" class="img-fluid" />
                <div class="card-body">
                    <h5 class="text-center font-weight-normal">Change The World</h5>
                    <ul class="list-group text-center" style="list-style-type: none;">
                        <li>Price: 300kr</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <button id="buyButtom" class="btn btn-success btn-block"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                </div>
            </div>
        </div>
        @* ---------- *@
        <div class="col-md-3">
            <div class="border bg-light rounded p-1">
                <img src="~/Img/Eat_Code_Sleep.png" class="img-fluid" />
                <div class="card-body">
                    <h5 class="text-center font-weight-normal">Change The World</h5>
                    <ul class="list-group text-center" style="list-style-type: none;">
                        <li>Price: 500kr</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <button id="buyButtom" class="btn btn-success btn-block"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                </div>
            </div>
        </div>
        @*-----------*@
        <div class="col-md-3">
            <div class="border bg-light rounded p-1">
                <img src="~/Img/Its funny because its true.png" class="img-fluid" />
                <div class="card-body">
                    <h5 class="text-center font-weight-normal">Change The World</h5>
                    <ul class="list-group text-center" style="list-style-type: none;">
                        <li>Price: 450kr</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <button id="buyButtom" class="btn btn-success btn-block"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                </div>
            </div>
        </div>
        @*-----------*@

        <div class="col-md-3">
            <div class="border bg-light rounded p-1">
                <img src="~/Img/My_Code_Works.png" class="img-fluid" />
                <div class="card-body">
                    <h5 class="text-center font-weight-normal">Change The World</h5>
                    <ul class="list-group text-center" style="list-style-type: none;">
                        <li>Price: 300kr</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <button id="buyButtom" class="btn btn-success btn-block"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                </div>
            </div>
        </div>
        @*-----------*@
        <div class="col-md-3">
            <div class="border bg-light rounded p-1">
                <img src="~/Img/Think_outside_the_box.png" class="img-fluid" />
                <div class="card-body">
                    <h5 class="text-center font-weight-normal">Change The World</h5>
                    <ul class="list-group text-center" style="list-style-type: none;">
                        <li>Price: 300kr</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <button id="buyButtom" class="btn btn-success btn-block"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                </div>
            </div>
        </div>
        @*--------------*@
        <div class="col-md-3">
            <div class="border bg-light rounded p-1">
                <img src="~/Img/Unicorns_can_code.png" class="img-fluid" />
                <div class="card-body">
                    <h5 class="text-center font-weight-normal">Change The World</h5>
                    <ul class="list-group text-center" style="list-style-type: none;">
                        <li>Price: 300kr</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <button id="buyButtom" class="btn btn-success btn-block"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                </div>
            </div>
        </div>
    </div>
</div>