@model List<MVCWebApp.Models.ProductModel>
@{
    ViewData["Title"] = "Home Page";
}


<script>

</script>

<div class="container-fluid p-5">
    <div class="row d-flex justify-content-center">
        @foreach (var p in Model)
        {
            <div class="col-md-3">
                <div class="border bg-light rounded p-1">
                    <img src="~/Img/@(p.ImgId).png" class="img-fluid" alt="@p.Title" />
                    <div class="card-body">
                        <h5 class="text-center font-weight-normal">@p.Title</h5>
                        <ul class="list-group text-center" style="list-style-type: none;">
                            <li>Price: @p.Price</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <button asp-controller="OrderItem" asp-action="AddToCart" asp-route-id="@p.ProductId" id="buyButtom" class="btn btn-success btn-block"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>